@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chega mais</h1>
    <p>Mudar o nome <a href="https://docs.microsoft.com/aspnet/core">Esse site mostra tudo o que voce precisa with ASP.NET Core</a>.</p>
</div>


<select class="selectpicker" data-live-search="true">
    <option data-tokens="Eggs CuBacon">Hot Dog, Fries and a Soda</option>
    <option data-tokens="mustard">Hamburguer, Shake and a Smile</option>
    <option data-tokens="Geladoooo">Sugar, Spice and all things nice</option>
</select>