@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chega mais</h1>
    <p>Mudar o nome <a href="">Esse site mostra tudo o que voce precisa with ASP.NET Core</a>.</p>
</div>
